<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://www.overallsite.com/updates/wp-content/uploads/2020/08/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Tasveer</title>
  </head>
  <body>
    <div class="main-element">
      <div class="Container">
        <h1>Welcome to <span class="projectName">Tasveer</span></h1>
        <p class="projectText">An open source image community coming soon!</p>
        <p class="contribute">
          Are you a developer and want to contribute! <br />
          You are most welcome at
          <a href="https://github.com/iamphoenix310/tasveer" target="_blank"
            >Github</a
          >.
        </p>
        <hr class="hrOnly" />
      </div>
    </div>
  </body>
</html>
