/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap');

body {
  background-color: #2d4059;
  color: #e5e5e5;
}

.main-element {
  width: 80%;
  margin: 300px auto;
  align-items: center;
  text-align: center;
}

.projectName {
  font-family: 'Dancing Script';
}

.projectText {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.contribute a {
  color: #fff;
  font-weight: 800;
  text-decoration: underline;
}

.hrOnly {
  color: #fff;
  width: 50%;
}

/* For mobile */

@media only screen and (max-width: 600px) {
  .main-element {
    width: 80%;
    margin: 150px auto;
    align-items: center;
    text-align: center;
  }
}
